:root {
    --font-size-normal: 14px;
    --font-size-small: 12px;

    /* Colors */
    --light-pink-color: #FFC2D5;
    --pink-color: #FF195E;
    --cyan-color: #00F0FF;
    --blue-color: #0085FF;
    --dark-blue-color: #1D5199;
}


body {
    font-size: var(--font-size-normal);
    font-family: system-ui;
}

fieldset {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 20px;
}

fieldset legend {
    font-weight: bold;
}

.control {
    width: 100%;
    font-size: var(--font-size-small);
}

.control label {
    font-weight: bold;
}

.control label .units {
    font-weight: normal;
}

.control:not(:last-child) {
    margin-bottom: 10px;
}

.control .slider-wrapper,
.control select {
    display: flex;
}

.control .slider-wrapper input[type="range"] {
    width: 100%;
}

.slider-value {
    font-size: var(--font-size-small);
    width: 0;
}

.min-value,
.max-value {
    font-size: var(--font-size-small);
    margin: 0 5px;
    width: 2em;
}

.min-value {
    text-align: right;
}