:root {
    --light-pink: rgba(255, 194, 213, 1);
    --pink: rgba(255, 25, 94, 1);
    --cyan: rgba(0, 240, 255, 1);
    --blue: rgba(0, 133, 255, 1);
    --dark-blue: rgba(29, 81, 153, 1);

    /* 50% opactity */
    --light-pink-50: rgba(255, 194, 213, 0.5);
    --pink-50: rgba(255, 25, 94, 0.5);
    --cyan-50: rgba(0, 240, 255, 0.5);
    --blue-50: rgba(0, 133, 255, 0.5);
    --dark-blue-50: rgba(29, 81, 153, 0.5);
}

html,
body {
    margin: 0;
    touch-action: none;
    font-size: 12px;
    font-family: sans-serif;
}

#root {
    height: 100dvh;
    width: 100%;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    height: 100%;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
}

.stackedContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.stackedContainer * {
    position: absolute;
}

.fillSpace {
    height: 100%;
    width: 100%;
}

#side-panel {
    height: 100%;
    width: 100px;
    /* Make it be in front of timeline */
    z-index: 1;
    background-color: white;
    box-shadow: 0 0px 5px 0px var(--dark-blue-50);
}

.grid-tick {
    position: "absolute";
    white-space: "nowrap";
    opacity: 0.66;
    font-size: 0.8em;
    pointer-events: none;
    user-select: none;
}

.grid-tick.x-tick {
    margin-top: 0.1em;
    margin-left: 4px;
}

.grid-tick.y-tick {
    margin-top: -1.2em;
    margin-left: 2px;
}

#timelineContainer {
    box-shadow: 0 0px 5px 1px var(--dark-blue-50);
    width: 100%;
    min-height: 100px;
    height: 100px;
    /* Make it be behind side panel */
    z-index: 0;
}

.timeline-time-cursor {
    transform: translate(-1.5px, 3px);
    height: 94px;
    width: 3px;
    background-color: var(--pink);
    position: absolute;
    border-radius: 4px;
    pointer-events: none;
}

.timeline-time-cursor-hovering {
    transform: translate(-2px, 2.5px);
    height: 95px;
    width: 4px;
}

.timeline-time-cursor-dragging {
    transform: translate(-2.5px, 2px);
    height: 96px;
    width: 5px;
    background-color: var(--pink-50);
}