body {
    font-size: 14px;
    font-family: sans-serif;
}


#mainCanvasContainer {
    position: relative;
    width: 500px;
    height: 500px;
}

#backgroundCanvas,
#simulationCanvas,
#foregroundCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#timelineCanvas {
    width: 500px;
}

#backgroundCanvas {
    z-index: 1;
}

#simulationCanvas {
    z-index: 2;
}

#foregroundCanvas {
    z-index: 3;
}